body{
    background-color:#f8f5f1;  
}
hr{
    border-style: dotted none none;
    border-color: #f8a488 ;
    border-width: 5px;
    border-spacing: 10px;             
    height: 0px;
    width: 5%;
}
h1{
    color:#45526c;
}
h2{
    color:#45526c;
}
p{
    color:#45526c;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*
Pallete
f8f5f1 - white
f8a488 - orange
5aa897 - green
45526c - gray
*/